{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>Perfil de {{ nombre }}</h2>
    
    <h3>Juegos Disponibles:</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juego 1</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juego 2</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juego 3</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Juego 4</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
